<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <meta name="author" content="Sanzhar Zhanibekov">
    <meta name="description" content="Author information page">
    <link rel="stylesheet" th:rel="stylesheet" th:href="@{style/author_information.css}"
          href="../static/style/author_information.css">
    <link rel="stylesheet" th:rel="stylesheet" th:href="@{style/main_style.css}" href="../static/style/main_style.css">
</head>
<body>

</body>
</html>