<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Sanzhar Zhanibekov">
    <meta name="description" content="All work with market">
    <title>Publishers</title>
    <link rel="stylesheet" th:rel="stylesheet" th:href="@{style/marketplace.css}" href="../static/style/marketplace.css">
    <link rel="stylesheet" th:rel="stylesheet" th:href="@{style/buttons.css}"
          href="../static/style/buttons.css">
</head>
<body>
<header th:replace="fragments/page_components :: header"></header>
</body>
</html>